html {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: #fcfcfc;
  position: relative;
  min-height: 100%;
}

.container {
  min-width: 1100px;
  min-height: 760px;
}

.k-means-header {
  padding-left: 0px;
}

.kmeans-div {
  width: 600px;
}

#kmeans-vis {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1000px;
  width: 1000px;
  border: 1px solid black;
}

#kmeans-vis #voronoi path {
  fill-opacity: 0.2;
}

#num-clusters, #num-centroids {
  border: 0px;
  border-bottom: 1px solid black;
  padding-left: 8px;
  width: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fcfcfc;
}

a {
  margin-top: 5px;
  cursor: pointer;
}

.step {
  width: 160px;
}

.algorithm-start {
  padding-top: 10px;
  padding-bottom: 10px;
}

.step-title {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
}

.step-description {
  padding-left: 10px;
  padding-bottom: 15px;
}

.active {
  /*color: #428bca;*/
  background-color: #fcf9ce;
  /*font-weight: bold;*/
  cursor: pointer;
  padding-right: 5px;
}

hr {
  margin-top: 30px;
  border-top: 1px solid #ccc;
}

.data-header {
  margin-top: 0px;
}

div.input {
  width: 148px;
  display: inline-block;
}

a.generate {
  margin-left: 2px;
}

footer {
  position: absolute;
  font-size: 13px;
  margin-bottom: 5px;
  bottom: 0;
  border-top: 1px solid #ccc;;
  width: inherit;
}
