<!DOCTYPE html>
<html ng-app="init">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="shortcut icon" href="img/brain.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Machine Learning</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/creativeLogin.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="js/RunController.js"></script>

</head>

<body id="page-top" >
   <div id="div-top"> <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger">Machine Learning</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Menu Principal</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="bg-Services" id="logInUser">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">
                
                    <h2 class="section-heading">Ejecutar Aplicativo</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" ng-controller="RunController" ng-model="Result">

                        <form  accept-charset="utf-8" ng-submit="captura(selector,nCluster)" >
                                 <label for="wareHouse">Tipo de DataSet</label>
                                <select required ng-model="selector" class="form-control form-control-lg" name="wareHouse" id="wareHouse">
                                    <option  value="{{data.Namekeyspace}}~{{data.Nametable}}" ng-model="datoSelect" ng-repeat="data in dataC"> {{data.DataType}} {{data.Descripcion}}</option>
                                </select>
                                <br>
                                <label  for="nClusterS">Numero de Clusters</label>
                                <select required class="form-control form-control-lg" ng-model="nCluster" id="nClusterS">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                <br>
                                 <input type="submit" class="btn btn-secondary"  value="Execute" onclik="location.href='#div1'">
                        </form>

                    <br><br><br>


                    <div id="div1">
                        <label for="NameKey">Nombre KeySpace</label>
                        <input class='form-control' type="text" id="NameKey" disabled value="{{NomKey}}">

                        <label for="NameTabla">Nombre Tabla</label>
                        <input class='form-control' type="text" id="NameTabla" disabled value="{{NomTabla}}">

                        <label for="TamSet">Tamaño DataSet</label>
                        <input class='form-control' type="number" id="TamSet" disabled value="{{DataTamano}}">

                        <label for="TamSetTrain">Tamaño DataSet Train</label>
                        <input class='form-control' type="number" id="TamSetTrain" disabled value="{{DataTamTrain}}">

                        <label for="TamSetTest">Tamaño DataSet Test</label>
                        <input class='form-control' type="number" id="TamSetTest" disabled value="{{DataTamTest}}">

                        <label for="nCluster">Numero de Cluster</label>
                        <input class='form-control' type="number" id="nCluster" disabled value="{{NCluster}}">

                        <label for="TamCluster">Tamaño por Cluster</label>
                        <input class='form-control' type="text" id="TamCluster" disabled value="{{ClusterS}}">

                        <label for="iter">Iteraciones</label>
                        <input class='form-control' type="number" id="iter" disabled value="{{ClusterIte}}">

                        <label for="SqrtError">Error Cuadratico</label>
                        <input class='form-control' type="text" id="SqrtError" disabled value="{{ErrorCua}}">
                    </div>
    
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
</body>

</html>