<!DOCTYPE html>
<html ng-app="index">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="shortcut icon" href="img/brain.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Machine Learning</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="js/angularScriptController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body id="page-top" >
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Machine Learning</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#concepto">Concepto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="exe.html">Ejecutar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">

                    </h1>
                </div>
                <div class="col-lg-8 mx-auto">
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#register">Comenzar Ahora</a>
                </div>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="register" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center" ng-controller="registerController">
                    <h2 class="section-heading text-white">Machine Learning - Registro</h2>
                    <br>
                    <hr class="light my-4">
                    <br>
                    <form accept-charset="UTF-8" name="myForm" id="myForm" ng-submit="addUser(user,email,pass)">
                        <input type="text" class="form-control" ng-model="user"  placeholder="Nombre">
                        <br>
                        <input type="email" class="form-control" ng-model="email"  placeholder="Correo electronico">
                        <br>
                        <input type="password" class="form-control" ng-model="pass" placeholder="Clave">
                        <br>
                        <br>
                        <br>
                        <input type="submit" class="btn btn-secondary"  value="Aceptar">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-Services" id="concepto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestro Concepto</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fab fa-angular fa-5x"></i>
                        <h3 class="mb-3">AngularJS</h3>
                        <p class="text-muted mb-0">Framework desarrollado por Google, el cual permite crear y mantener aplicaciones web de manera mas sencilla, ademas de pruebas mas sencillas. <a class="DataEXT" href="https://docs.angularjs.org/guide"><b>[+]</b></a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-link fa-5x"></i>
                        <h3 class="mb-3">MicroServices</h3>
                        <p class="text-muted mb-0">Es un estilo arquitectónico que permite estructurar una aplicación como una colección de servicios con bajo acoplamiento.<a class="DataEXT" href="http://microservices.io/"><b>[+]</b></a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-code fa-5x"></i>
                        <h3 class="mb-3">Spring</h3>
                        <p class="text-muted mb-0">Es un framework para el desarrollo de aplicaciones y contenedor de inversión de control, de código abierto para la plataforma Java.<a class="DataEXT" href="https://spring.io/"><b>[+]</b></a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-database fa-5x"></i>
                        <h3 class="mb-3">NoSQL</h3>
                        <p class="text-muted mb-0">Es un término que describe las bases de datos no relacionales. Este tipo de bases utilizan modelos de datos, documentos, gráficos, claves-valores y columnas.<a class="DataEXT" href="https://aws.amazon.com/es/nosql/"><b>[+]</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="bg-Contacto">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading2">Mantente en contacto</h2>
                    <hr class="light my-4">
                    <p class="mb-5">Para obtener soporte de esta aplicacion, contactanos mediante los siguientes links!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center">
                    <i class="fab fa-github-square fa-5x" style="color:white"></i>
                    <br>
                    <p>
                        <a class="nav-link" href="https://github.com/FelixMorenoT"><b>GitHub - FelixMorenoT</b></a>
                    </p>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fab fa-bitbucket fa-5x" style="color:white"></i>
                    <p>
                        <a class="nav-link" href="https://bitbucket.org/FelixMorenoT/"><b>Bitbucket - FelixMorenoT</b></a>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mr-auto text-center">
                    <i class="fas fa-envelope-square fa-5x" style="color:white"></i>
                    <p>
                        <a class="nav-link" href="mailto:felixmorenot18@hotmail.com"><b>Felix Rafael Moreno Tabares</b></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
</body>

</html>